
extends layout
block content
	.row-fluid
		.span12
			ul.thumbnails.clearfix
				for file in specials
					li.clearfix(style='position:relative;')
						a.thumbnail(href=file.link,style='width:120px;height:150px;')
							i(class=file.icon,style='font-size:120px;line-height:1.2;margin:0 auto;')
						span.label.label-info(style='position:absolute;bottom:5px;right:5px;')=file.filename
			ul.nav
				for file in files
					li.clearfix(style='position:relative;')
						a(href=file.link)
							i(class=file.icon)
							=file.filename
			if isEditor
				form(enctype='multipart/form-data',method='post',action='./upload')
					input(type='file',name='file',multiple='multiple')
					input(type='submit',value='upload')
		.span6(style='display:none;')
			div.readme.well
				h1.page-header
				.content.smaller loading README...
	:coffeescript
		showreadme=(filename,cb)->
			$.ajax 
				url:filename,
				success:(readme)->
					r=$('.readme')
					r.find('h1').html filename
					r.find('.content').html((new Showdown.converter()).makeHtml(readme))
					r.closest('.span6').show().prev().toggleClass('span12 span6')
				error:->
					cb()
		showreadme 'README',->
			showreadme 'README.md',->
				showreadme 'README.txt',->
					showreadme 'README.markdown',->
						showreadme 'Readme',->
							showreadme 'Readme.md',->
								showreadme 'Readme.txt',->
									showreadme 'Readme.markdown',->
										r=$('.readme').find('.content').text('no README...')
