
extends layout
block content
  .row-fluid
    div(class=typeof(markdown)!='undefined'?'span4':'span12')
      ul.thumbnails.clearfix
        for file in files
          if file.isbigicon
            li.clearfix(style='position:relative;')
              a.thumbnail(href=file.link,target='_blank',style='width:120px;height:150px;',title=file.name)
                i(class=file.icon,style='font-size:120px;line-height:1.2;margin:0 auto;')
              span.label.label-info(style='position:absolute;bottom:5px;right:5px;')=file.name
      ul.nav
        for file in files
          if !file.isbigicon
            li.clearfix(style='position:relative;white-space:nowrap;overflow:hidden;')
              a(href=file.link,title=file.name)
                i(class=file.icon)
                =file.name
      if isEditor
        form(enctype='multipart/form-data',method='post',action='./upload')
          input(type='file',name='file',multiple='multiple')
          input(type='submit',value='upload')
    if typeof(markdown)!='undefined'
      .span8
        include md
