extends layout
block content
	.row-fluid
		.span12
			ul.nav.nav-list
				for file in folders
					li.clearfix
						a.file(href='#{file.filename}/')
							i(class=file.icon)
							=file.filename
				for file in files
					li.clearfix
						.btn-group.pull-right
							a.btn.btn-mini(href=file.filename+'/') edit
						a.file(href='#{file.filename}')
							i(class=file.icon)
							=file.filename
			form(enctype='multipart/form-data',method='post',action='./upload')
				input(type='file',name='file',multiple='multiple')
				input(type='submit',value='upload')
		.span4(style='display:none;')
			div.readme.well
				h1.page-header
				.content.smaller loading README...
	:coffeescript
		showreadme=(filename,cb)->
			$.ajax 
				url:filename,
				success:(readme)->
					r=$('.readme')
					r.find('h1').html filename
					r.find('.content').html((new Showdown.converter()).makeHtml(readme))
					r.closest('.span4').show().prev().toggleClass('span12 span8')
				error:->
					cb()
		showreadme 'README',->
			showreadme 'README.md',->
				showreadme 'README.txt',->
					showreadme 'README.markdown',->
						showreadme 'Readme',->
							showreadme 'Readme.md',->
								showreadme 'Readme.txt',->
									showreadme 'Readme.markdown',->
										r=$('.readme').find('.content').text('no README...')
