!!!
html
  head
    meta(http-equiv='Content-Type',content='text/html;charset=UTF-8')
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet',href='#{rootPath}css/bootstrap.css')
    link(rel='stylesheet',href='#{rootPath}css/icomoon/style.css')
    script(src='#{rootPath}js/jquery.js')
    script(src='#{rootPath}js/ace/ace.js')
    script(src='#{rootPath}js/bootstrap.js')
    :less
      body{
        padding-top:50px;
      }
      [class^="icon-"],[class*=" icon-"]{
        display:inline;
        margin-right:0.2em;
        vertical-align:inherit;
        background-image:none;
        line-height:inherit;
        height:auto;
        width:auto;
      }
      a:hover{
        text-decoration:none;
      }
    link(rel='stylesheet',href='#{rootPath}css/bootstrap-responsive.css')
  body(style='')
    .container-fluid
      .navbar.navbar-fixed-top
        .navbar-inner
          .container-fluid
            button.btn.btn-navbar(data-target=".nav-collapse",data-toggle="collapse",type="button")
              span.icon-bar
              span.icon-bar
              span.icon-bar
            div.nav-collapse.collapse
              ul.nav#nav
              ul.nav.pull-right
                if typeof(user)!='undefined'
                  li
                    a(href='browse_README')
                      i.icon-help
                      |README
                  li
                    a(href='#')
                      i.icon-user
                      =user.username
                  li
                    a(href='browse_logout')
                      i.icon-locked
                      |logout
                else
                  li
                    a(href='browse_login')
                      i.icon-key
                      |login
      block content
      :coffeescript
        $('[title]').tooltip
          placement:'right'
        [dummy,protocal,segs]=location.href.match /(https?:\/\/)([^\?#]*)/
        segs=segs.substring(0,segs.lastIndexOf('/')).split '/'
        for seg,i in segs
          if seg.length
            if !i
              $('<a class="brand" href="'+protocal+seg+'"><i class="icon-home-2"/>'+decodeURIComponent(seg)+'</a>').insertBefore('.nav-collapse')
            else
              $('<li><a href="'+protocal+segs.slice(0,i+1).join('/')+'/"><i class="icon-folder-2"/>'+decodeURIComponent(seg)+'</a><li>').appendTo('#nav')






