extends layout
block content
  div.source-showcase
    .pull-right
      span.source-msg
        span.alert.alert-error
      a.btn-primary.btn.source-save save
    .pull-left
      span.alert.alert-info
        span.label.label-info  
          span.source-mode text
        span.source-filename
    pre#editor(styles='')
    :less
      .source-showcase{
        position:fixed;
        @padding:10px;
        left:@padding;
        right:@padding;
        bottom:@padding;
        top:@padding+40px;

        display:block;
        
        margin:0;
        -moz-box-sizing:padding-box;
        padding:0;
        margin:0;
      }
      #editor{
        position:absolute;
        top:40px;
        bottom:0;
        left:0;
        right:0;
        -moz-box-sizing:padding-box;
        padding:0;
        margin:0;
      }
    :coffeescript
      $ ()->
        if self!=top
          $('.navbar,.breadcrumb').remove()
          $('body>.container-fluid').css('margin-top','0')
          $('#editor').css('top',Number($('#editor').css('top').replace(/px$/,''))-110)
          $('body').css('background-color','whiteSmoke')
        filename=location.href.substring(0,location.href.lastIndexOf('.'))
        loadFile=(data)->
          $('.source-filename').text(filename).attr('data-filename',filename)
          source=$('.source-showcase')
          source.show()
          editor = ace.edit("editor")
          session=editor.getSession()

          editor.setTheme("ace/theme/twilight");

          mode=filename
          mode=mode.substring(mode.lastIndexOf('/')+1)
          mode=mode.substring(mode.lastIndexOf('.')+1)
          modes=
            js:'javascript'
            iced:'coffee'
            README:'markdown'
            md:'markdown'
            cs:'csharp'
          mode=modes[mode]||mode
          $('.source-mode').text mode
          session.setValue ''
          session.setMode("ace/mode/"+mode);
          session.setValue data
          func=()->
            $.ajax
              url:filename+'.edit'
              dataType:'text'
              success:()->
                $('.source-showcase .btn').removeClass 'disabled'
                $('.source-msg').hide()
                setTimeout func,300
              error:(xhr)->
                $('.source-showcase .btn').addClass 'disabled'
                $('.source-msg').show().children().text xhr.responseText
                setTimeout func,300
          func()
        $.ajax
          url:filename+'?_t='+Math.floor(Math.random()*1000)
          dataType:'text'
          success:(data)->
            loadFile(data)
          error:(data)->
            loadFile('')
        $('.source-save').click ()->
          filename=$(this).closest('.source-showcase').find('.source-filename').attr('data-filename')
          editor = ace.edit("editor")
          session=editor.getSession()
          data=session.getValue()
          $(this).addClass('disabled');
          $.ajax
            url:filename+'.edit'
            type:'post'
            data:
              content:data
            dateType:'text'
            success:()->
              $('.source-showcase .btn').removeClass('disabled');
          return false